services:
  rapid-doc-server:
    container_name: rapid-doc-server
    image: hzkitty/rapid-doc:0.5.1
    ports:
      - "8888:8888"
    environment:
      - TZ=${TIMEZONE:-UTC}
      - GOTENBERG_URL=http://gotenberg:3000
    restart: always
    depends_on:
      - gotenberg

  gotenberg:
    container_name: gotenberg
    image: gotenberg/gotenberg:8
    ports:
      - "3000:3000"
    environment:
      - TZ=${TIMEZONE:-UTC}
    restart: always
